In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("dailyActivity_selection.csv").drop(["Unnamed: 0","Unnamed: 0.1"])

In [4]:
df

,Unnamed: 0,Unnamed: 0.1,Id,ActivityDate,TotalSteps,VeryActiveMinutes,SedentaryMinutes,TotalMinutesAsleep,TotalMinutesAwake,Vulnerability,Class,PartitionID
0,0,0,1503960366,4/12/16,13162,25,728,327,19,2,0,1
1,1,1,1503960366,4/13/16,10735,21,776,384,23,1,0,1
2,2,2,1503960366,4/15/16,9762,29,726,412,30,1,0,1
3,3,3,1503960366,4/16/16,12669,36,773,340,27,2,0,1
4,4,4,1503960366,4/17/16,9705,38,539,700,12,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
388,388,388,8792009665,4/30/16,7174,10,749,343,17,3,1,2
389,389,389,8792009665,5/1/16,1619,0,834,503,24,3,1,2
390,390,390,8792009665,5/2/16,1831,0,916,415,8,3,1,2
391,391,391,8792009665,5/3/16,2421,0,739,516,29,3,1,2
392,392,392,8792009665,5/4/16,2283,0,848,439,24,3,1,2